/*
 * Specified by https://marcom.purdue.edu/toolbox/digital-media/web-templates/
 * downloaded from https://www.purdue.edu/purdue/fonts/united-sans/united-sans.css
 * and edited to add global font URLs.
 */

/* Regular */

@font-face {
	font-family: 'United Sans';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansRgLt.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansRgLt.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'United Sans';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansRgMd.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansRgMd.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'United Sans';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansRgBd.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansRgBd.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'United Sans';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansRgHv.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansRgHv.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

/* Condensed */

@font-face {
	font-family: 'United Sans Condensed';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansCdLt.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansCdLt.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'United Sans Condensed';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansCdMd.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansCdMd.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'United Sans Condensed';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansCdBd.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansCdBd.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'United Sans Condensed';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansCdHv.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansCdHv.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

/* Extended */

@font-face {
	font-family: 'United Sans Extended';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansEXLt.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansExLt.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'United Sans Extended';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansExMd.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansExMd.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'United Sans Extended';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansExBd.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansExBd.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'United Sans Extended';
	src: url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansExHv.woff2') format('woff2'),
		 url('https://www.purdue.edu/purdue/fonts/united-sans/UnitedSansExHv.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}